.menu-bar {
    -fx-background-color: #333333;
}

.label {
    -fx-text-fill: #ffffff;
}

.menu {
    -fx-background-color: #333333;
}

.menu:hover {
    -fx-background-color: #000000;
}

.menu-item{
    -fx-background-color: #333333;
}

.menu-item:hover{
    -fx-background-color: #000000;
}

.check-menu-item{
    -fx-background-color: #333333;
}

.check-menu-item:hover{
    -fx-background-color: #000000;
}

.text-field {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
}

.text-area {
    -fx-text-fill: #ffffff;
}

.text-area .content{
    -fx-background-color: #333333;
}

.button{
    -fx-background-color: #777777;
    -fx-text-fill: #ffffff;
}

.list-cell:odd {
    -fx-background-color: #777777;
    -fx-text-fill: #ffffff;
}

.list-cell:even {
    -fx-background-color: #555555;
    -fx-text-fill: #ffffff;
}